doctype html
html

doctype html
html



    head
        link(rel="stylesheet" href="style.css")
    body
   
        h1 Disariya Cikabilir miyim?
        
        div
            form(action="/" method="POST") 
                input(type="text" name="yas" placeholder="Yasinizi Giriniz")
                input(type="submit")
           
        div
           block content